---
const pageTitle = "susu/links";
import './styles/global.css'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
    </head>
    <body class="background" style="font-size: 1rem">
        <div class="container">
            <header class="space-between">
                <p class="font-bold">cool stuff</p>
                <p class="font-increase font-bold"><a href="/">susu</a></p>
            </header>
            <h2 class="mt--large la-machine">coolstuff</h2>
            <p class="mt--small">an archive of some of the cool stuff i find and adore</p>
            <div class="note box mt--large">
                <ul class="la-machine font-eigth" style="display: flex; flex-direction: column; gap: 1rem">
                    <li>hoku's channel - <a class="underline" href="https://www.youtube.com/@hokumhina">@hokumhina</a></li>
                    <li>blendtastic - <a class="underline" href="https://www.youtube.com/watch?v=H6JjSdO0XWA">i was doing fine without you</a></li>
                    <li>garçon's twitter - <a class="underline" href="https://twitter.com/boymolish">@garçon</a></li>
                    <li>juwee's website - <a class="underline" href="https://juw.ee/">ju.wee</a></li>
                    <li>mani's website - <a class="underline" href="https://riemani.ca/">mani's lair</a></li>
                    <li>degreat's archive - <a class="underline" href="https://degreat.co.uk/">degreat</a></li>
                    <li>justin's vlog series - <a class="underline" href="https://youtu.be/M9XzHK4Hm4w?si=MXV131ztoElRiiwJ">greece</a></li>
                    <li>niyi's twitter - <a class="underline" href="https://twitter.com/niyiokeowo">@niyiokeowo</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>