---
const pageTitle = "susu/now"
import './styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
    </head>
    <body class="background">
        <div class="container">
            <header class="space-between">
                <p class="font-bold">nownownow</p>
                <p class="font-increase font-bold"><a href="/">susu</a></p>
            </header>
            <div class="box mt--large">
                <p>album of the week</p>
                <!-- TODO: Set up Auth for myself ^ ^ -->
                <div class="align-center mt--small">
                    <iframe src="https://open.spotify.com/embed/album/7n23fjZTviIUnHyvZGQjni?utm_source=generator&theme=0"
                    style="border: 0; border-style: none"
                    width="100%"
                    height="352px"
                 allowfullscreen="" 
                 allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                 loading="lazy">
                </iframe>
                </div>
            </div>
        </div>
    </body>
</html>