<ul class="la-machine font-eigth" style="margin-top: 4rem; display: flex; flex-direction: column; gap: 1rem">
    <li><a class="underline" href="https://github.com/Susu-spec">github@susu</a></li>
    <li><a class="underline" href="https://twitter.com/susu_suleiman1">twitter@susu</a></li>
</ul>